<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>moviePress</title>
  </head>
  <body>
    <div class="nav">
      <a class="logo" href="/">moviePress</a>
      <a class="text" href="/sign-out">Sign Out</a>
      <a class="text" href="/sign-up">Sign Up</a>
    </div>
    <div class="yield">${yield}</div>
    <div class="footer">
      This product uses the TMDb API but is not endorsed or certified by TMDb.
      <img src="/images/tmdb.png" alt="tmdb logo">
    </div>
  </body>
</html>
